<%= render 'shared/errors', obj: @todo %>

<div class='span3 well'>
  <%= form_for @todo do |f| %>
    <div class='control-group'>
      <%= f.label :description, "Todo's for Vishwath" %>
      <%= f.text_area :description, rows: 2 %>
    </div>
    <%= f.submit("Create 'Todo' Task" , class: 'btn btn-primary')%>
  <% end %>
</div>
