<%= render 'shared/errors', obj: @task %>

<div class='span7 well'>
  <%= form_for @task do |f| %>
    <div class='control-group'>
      <%= f.label :heading %>
      <%= f.text_field :heading %>
    </div>
    <div class='control-group'>
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </div>
    <div class='control-group'>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5 %>
    </div>

  <div class='control-group'>
    <%= f.collection_check_boxes :subject_id, Subject.all, :id, :subject do |sb| %>
      <% sb.label(class: "checkbox inline") {sb.check_box(class: "checkbox") + sb.text} %>
    <% end %>
  </div>


  <%= f.submit("Today's Homework" , class: 'btn btn-primary')%>
</div>
<% end %>

