<%= render 'shared/errors', obj: @task %>

<div class='span6 well'>
  <%= form_for @task do |f| %>
    <div class='control-group'>
      <%= f.label :heading, "Summary of what Vishwath learnt today?" %>
      <%= f.text_field :heading %>
    </div>
    <div class='control-group'>

      <b><%= f.label :rating, "How well did he do? (5 being excellent)" %></b>
      <%= f.radio_button(:rating, 1) %> 1
      <%= f.radio_button(:rating, 2) %> 2 
      <%= f.radio_button(:rating, 3) %> 3 
      <%= f.radio_button(:rating, 4) %> 4 
      <%= f.radio_button(:rating, 5) %> 5 

    </div>

    <div>
      <label for="amount">How well did he do? (5 being excellent)</label>
      <input type="text" id="rating" readonly style="border:0; color:#f6931f; font-weight:bold; display:none">
    </div>
    <div id="slider-range-max"></div>



    <div class='control-group'>
      <%= f.label :description, "Describe what he learnt, any actions items, follow ups etc."%>
      <%= f.text_area :description, rows: 5 %>
    </div>
    <b>Select main subject taught today (select only one)</b>
  <div class='control-group'>
    <%= f.collection_check_boxes :subject_id, Subject.all, :id, :subject do |sb| %>
      <% sb.label(class: "checkbox inline") {sb.check_box(class: "checkbox") + sb.text} %>
    <% end %>
  </div>


  <%= f.submit("Submit today's homework" , class: 'btn btn-primary')%>
</div>
<% end %>

