
<%= render 'shared/content_title', title: "Welcome to Vishwath's homework page" %>


 
	<div class='span7 well'>
		<%= render 'form_task' %>

		<div class="row ">
			<% @tasks.each do |task| %>
					  <div class='span6 well'>
					  	<%= task.created_at.to_formatted_s(:long) %>
					    <h4><%= task.heading %></h4> Score: <%= task.rating %>
					    <p><%= task.subject.subject %></p>
					    <p><%= task.description %> </p>
					    <p><small>
					    	<span class='quiet'>Taught by </span> <%= task.creator.username %>
					    </small></p>
					  </div>
			<% end %>
		</div>
	</div>



	<div class='span4 well'>
		<%= render 'form_todo' %>

		
			<h4>Todo List</h4>
			<small>(click pending to move status to completed)</small>
			
			<% @todos.each do |todo| %>
				<div class='span3 well'>
				    <h5> Status: <%= todo.status %></h5>

				    <% if todo.status == 'Pending' %>
					    [Mark as completed]
						<% end %>

				    <p><%=  todo.description %> </p>
				    <p>
				      <small><span class='quiet'>Assigned by </span> <%= todo.creator.username %>
				      on <%= todo.created_at %></small>
				    </p>
				</div>
			<% end %>	


</div>



