
<%= render 'shared/content_title', title: "Welcome to Vishwath's homework page" %>
 
<%= render 'form_task' %>

<hr>
<div class="row">

	<% @tasks.each do |task| %>

			<div class="row">
			  <div class='span7 well'>
			    <h4><%= task.heading %></h4>
			    <p><%= task.subject.subject %></p>
			    <p><%= task.description %> </p>
			    <p>
			      <small><span class='quiet'>Taught by </span> <%= task.creator.username %>
			      on <%= task.created_at.to_formatted_s(:long) %></small>
			    </p>
			  </div>
			</div>

	<% end %>


	<hr>

	<%= render 'form_todo' %>

	<hr>

	<% @todos.each do |todo| %>
		<div class="row">
		  <div class='span4 well'>
		    <h4><%= todo.status %></h4>
		    <p><%=  todo.description %> </p>
		    <p>
		      <small><span class='quiet'>Assigned by </span> <%= todo.creator.username %>
		      at <%= todo.created_at %></small>
		    </p>
		  </div>
		</div>
	<% end %>

</div>